* {
    box-sizing: border-box;
}

body {
    color: rgb(252, 245, 245);
    background: #1A1E26;
    font-size: 24px;
    align-items: center;
}

#more {
    color: green;
}

a:hover, a:focus {
    color: red;
}

.li:focus{
    color: green;
}

#highlight {
    border: rgb(2, 27, 250);
}
/* .projects{
    border: 1px solid red;
    padding: 10px 10px 10px 10px;
} */


#Raw_Truths {
    position: relative;
    border: orangered;
}

nav, h2{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

li, #result, #input{
    box-sizing: border-box;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

button{
    margin: 4px 4px;
}

#Truth, #Truth-btn, h1 {
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

/* #Truth-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    box-sizing: border-box;
} */

h1{
    margin-bottom: 0%;
}

#result{
    margin: 3%;
    color: #e60707;
    background-color: white;
}